body{

    background-color: aliceblue;

    padding-left: 30px;
    padding-right: 30px;
}

/* **************************************** GoogleFont *********************************************** */

.font-container-google{

    background-color: rgb(217, 237, 255);
    border-radius: 20px;
    padding-top: 1px;
    padding-bottom: 1px;
    /* margin-top: 300px; */

}


.font-site{

    display: flex;
    margin: 10px;
    background-color: rgb(170, 215, 254);
    border-radius: 20px;
}

/* **************************************** FontSpace *********************************************** */


.font-container-fontspace{

    background-color: #ecf39e;
    border-radius: 20px;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-top: 300px;

}


.font-site-fontspace{

    display: flex;
    margin: 10px;
    background-color: #90a955;
    border-radius: 20px;
}


/* ************************************************************************************************* */

img{

    width: 130px;
    border-radius: 20px;
    margin: 5px;
    background-color: white;
    padding: 15px;
    box-sizing: border-box;
}

h1{

    font-size: 50px;
    font-weight:bold;
    color: rgba(0, 0, 0, 0.7);
}

.examples{

    background-color:aliceblue;
    margin: 20px;
    border-radius: 10px;
    text-align: center;
    padding-bottom: 10px;
    

}

p{

    text-align: center;
    font-size: 50px;
    padding: 7px;
    


}



.get-font{

    background-color: green;
    width: max-content;
    padding: 10px;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    /* max-height: 30px; */


}

a{

    margin-bottom: 10px;
    font-size: 30px;
    color: rgb(255, 255, 255);
    text-decoration-line: none;
    

}

/* **************************************** GoogleFont *********************************************** */


#Jacquarda-Bastarda-9{

    font-family: "Jacquarda Bastarda 9";
}

#Oswald{

    font-family: Oswald;
}

#Noto-Sans-Buhid{

    font-family: "Noto Sans Buhid";
    

}

#Protest-Revolution{

  font-family: "Protest Revolution";

}

#Protest-Riot{

    font-family: "Protest Riot";
}



/* **************************************** FontSpace *********************************************** */

#Crotah{

    font-family: Crotah;
}

#Katerlin{

    font-family: Katerlin;
}

#Nestocopper{

    font-family: Nestocopper;
}

#NightPumpkind{

    font-family: NightPumpkind;
}

#Pumpkin-Halloween{

    font-family: "Pumpkin Halloween";
}